:root {
  --green: #569F59;
  --darkgrey: #3A3A3A;
}

html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.navbar-brand {
  width:150px;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  margin-left: -50px !important;  /* 50% of your logo width */
  display: block;
}

.navbar-brand img {
  height: 40px;
  vertical-align: middle;
  /* display: table-cell; */
  /* put value of image height as your need */
}

.nav-item{
  font-weight: 400;
}

.gradient {
  background: rgb(22,173,22);
  background: linear-gradient(
    90deg, 
    rgba(22,173,22,1) 0%, 
    rgba(230,255,230,1) 100%
  );
}

.page-header {
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 1.25rem;
  color: #569F59;
}

.page-header h1{
  font-weight: 400;
}

.page-header p{
  color: rgb(0,0,0)
}

.page-header img{
  height: 400px;
}

.btn-outline-getstarted, 
.btn-outline-getstarted:active, 
.btn-outline-getstarted:visited {
  font-weight: 400;
  color: var(--green);
  border: 2px solid var(--green);
}

.btn-outline-getstarted:hover{
  background-color: var(--green);
  color: white;
}

.section1{
  background-color: var(--green);
  color: white;

  text-align: center;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section1 h2{
  font-weight: 300;
}

.section1 p{
  font-size: 1.25rem;
  font-weight: 300;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;

}

.section2{
  text-align: center;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section2 img{
  padding: 30px;
  margin-bottom: 20px;
  border-radius:100%;
  border: 2px solid var(--green);
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.section2 h3, hr{
  font-weight: 300;
  color: var(--green)
}

.section3{
  background-color: var(--darkgrey);
  color: white;
  text-align: center;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section3 h2, h3{
  font-weight: 300;
}

.section4{
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section4 h2{
  font-weight: 300;
}

.section4 span{
  color: var(--green);
}