.artist-contact-container {
    background-color: #2C3436;
    width: 100%;
}

.artist-contact-inner-container {
    padding: 50px;
}

.artist-contact-text-wrapper {
    padding: 20px;
    border-radius: 10px;
    background-color: green;
}

.artist-contact-title {
    font-weight: 900;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 20px;
}

.artist-contact-subtitle {
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-align: left;
}

.artist-contact-col-right {
    float: right;
}

.artist-contact-button {
    font-weight: 900;
    font-size: 18px;
}

