.fan-features-container {
    background-color: #F8F8F8;
    padding: 10%;
}

.fan-features-header {
    color: #79bd9a;
    font-weight: 900;
    font-size: 50px;
    line-height: 63px;
    letter-spacing: 0.2px;
    text-align: left;
    padding-bottom: 20px;
}

.fan-features-icon {
    height: 100px;
    width: auto;
}

.fan-features-icon-label {
    padding-top: 10px;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.2px;
}

@media only screen and (max-width: 600px) {
    .fan-features-header {
        font-size: 30px;
        line-height: 38px;
    }
}