.fan-header-container {
    background: linear-gradient(#3B8686, #ACBBA8);
    padding: 10%;
    text-align: left;
    display: flex;
}

.fan-header-text-title {
    color: black;
    font-size: xxx-large;
    font-weight: bolder;
}

.fan-header-text-body {
    font-size: large;
}

.fan-join-waitlist-button {
    font-weight: bolder;
    font-size: x-large;
    background-color: #3B8686;
    color: white;
    padding: 15px 30px 15px 30px;
    border: none;
}

.fan-mobile-col {
    display: none;
}

@media only screen and (max-width: 600px) {
    .fan-mobile-col {
        display: block;
    }

    .fan-desktop-col {
        display: none;
    }

    .fan-header-text-title {
        font-size: 30px;
        line-height: 38px;
    }

    .fan-header-image-mobile {
        padding-bottom: 20px;
    }

    .fan-header-text-body {
        line-height: 25px;
    }

    .fan-join-waitlist-button {
        margin-top: 20px;
        font-size: 25px;
        padding: 10px 10px 10px 10px;
        width: 100%;
    }
}