.landing-page {
    font-family: 'Mulish', 'sans-serif';
}

.artist-view .toggle-button-group .selected {
    background-color: #3B8686;
}

.fan-view .toggle-button-group .selected {
    background-color: #79BD9A;
}