.footer-container {
    background-color: #2C3436;
    width: 100%;
}

.footer-inner-container {
    padding: 25px;
}

.footer-text-wrapper {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.footer-title {
    font-weight: 900;
    font-size: 25px;
    color: #ffffff;
    text-align: left;
    margin-bottom: 20px;
}

.footer-subtitle {
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-align: left;
}

.footer-logo {
    width: 90%;
    height: auto;
}

.footer-col-right {
    float: right;
}

.footer-col-left {
    float: left;
    text-align: left;
}

.footer-button {
    font-weight: 900;
    font-size: 18px;
}

.footer-link {
    font-weight: 900;
    font-size: 20px;
    color: #3B8686;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
}

.footer-col-left .selected {
    background-color: #3B8686;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    .footer-title {
        font-size: 18px;
    }

    .footer-subtitle {
        font-size: 16px;
    }

    .footer-row {
        text-align: center;
    }

    .footer-col-left {
        padding-bottom: 20px;
    }

    .footer-copyright {
        text-align: center;
    }
}
