@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Navbar styling */
.navbar {
    background-color: #ffffff;
    border: 1px solid #E2E5E6;
}

.nav {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: #000000;
}

/* Innder navbar elements */
.nav-link {
    color: #373F41;
}
.navbar-form {
    background-color: #f4f5f4;
    border: 0px;
}

.toggle-button {
    border: 1px;
    font-size: 14px;
    border: 0.5px solid #c4c4c4;
}

.toggle-button:focus {
    outline: none;
    box-shadow: none;
}

.left {
    border-radius: 5px 0px 0px 5px;
    border-right: none;
}

.right {
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}

.selected {
    background-color: #c4c4c4;
    color: #ffffff;
}