Button {
  font-family: "Mulish", sans-serif !important;
  font-weight: bolder !important;
  border-color: lightgrey !important;
  border-width: 3px !important;
}

Button :hover {
  background-color: lightgrey !important;
}
