@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

.song-card {
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.2px;
  color: #373f41;
  width: 18rem;
}

.songcard-title {
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  color: #373f41;
}

.songcard-currency {
  font-size: 10px;
  line-height: 20px;
  color: #373f41;
}

.songcard-artist {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #373f41;
}

.songcard-listens {
  font-size: 10px;
  line-height: 18px;
  font-style: italic;
  color: #373f41;
}

.songcard-arrow {
  margin-top: 5px;
  margin-left: 5px;
  width: 14px;
  height: 8px;
}

.songcard-button {
  background-color: #ffffff;
  color: #373f41;
  font-size: 14px;
  line-height: 18px;
  border: 0px;
}

.songcard-button:hover {
  background-color: #373f41;
  color: #ffffff;
}
