.toggle-button {
    border: 1px;
    font-size: 14px;
    border: 0.5px solid #c4c4c4;
}

.toggle-button:focus {
    outline: none;
    box-shadow: none;
}

.left {
    border-radius: 5px 0px 0px 5px;
    border-right: none;
}

.right {
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}

